## Since the ".env" file is gitignored, you can use the ".env.example" file to
## build a new ".env" file when you clone the repo. Keep this file up-to-date
## when you add new variables to `.env`.

## This file will be committed to version control, so make sure not to have any
## secrets in it. If you are cloning this repo, create a copy of this file named
## ".env" and populate it with your secrets.

## When adding additional environment variables, the schema in "/src/env.js"
## should be updated accordingly.

## Example:
## NODE_ENV="development" | "production" | "test"
## YOUTUBE_API_KEY="your-youtube-api-key"
## YOUTUBE_UPLOADS_PLAYLIST_ID="your-youtube-uploads-playlist-id"
## YOUTUBE_API_KEY=AIzaSyDY3hOc7uGQ0xwoy59hceq17ADF_gc3lyA
## YOUTUBE_UPLOADS_PLAYLIST_ID=UUuheZmXj7msVWnAjUTkKTxw
## REDIS_URL=https://elegant-bobcat-33741.upstash.io
## REDIS_TOKEN=AYPNAAIjcDEwMmJmODVhYTMzMmM0ZjgxOTM4Y2ZiNjMyNGE3M2FlMXAxMA
## YOUTUBE_VIDEO_IDS=VYwCtJ40H_U
##DATAPIZZA_UPLOADS_PLAYLIST_ID=UUKssZEARhK7TT_5DEZmtMpw

#PLUNK_API_KEY=sk_f910309def681c99ab6ce9237a3e658869af050b83506cab
